<div class="ui inverted block header">Published Posts</div>
  #{list items:user.posts.reverse(), as:'post'}
    <div class="ui fluid card">
	  <div class="content">
	    <div class="header">${post.title}</div>
	    <div class="description">  
	      ${post.content}
	      <hr class="ui divider">
		      <div class="ui small inverted block header">Comments</div>
			      <div class="ui center aligned middle aligned padded grid">
			          #{list items:post.comments.reverse(), as:'comment'}
			              <div class="row">
				              <div class="three wide column">
				                ${comment.from.firstName}
				              </div>
				              <div class="seven wide column">
				                ${comment.commentText}
				              </div>
				              <div class="six wide column">
				                ${comment.date}
				              </div>
			              </div>
			          #{/list}
		          </div>
	          </div>
	        <section class="ui segment">
		        <div class="ui small header">Leave a comment</div>
			      <form action="/blog/sendcomment/${user.id}/${post.id}" method="POST">
				    <div class="field">   
				      <input name="commentText" placeholder="Comment"></input>
				    </div>
				    <button class="ui button">Send</button>
				  </form>
				</div>
			</section>
          </div>
          
	    </div>
	  </div>
	</div>
  #{/list}