<table class="ui table segment">
      <thead>
        <tr>
          <th>User</th>
          <th>Status</th>
          <th>Blog</th>
          <th>Follow</th>
        </tr>
      </thead>
      <tbody>
        #{list items:users, as:'user'}
          <tr>
            <td>
            	#{if user.userOnline == true}
              		<i class="green circle icon"></i>
              	#{/if}
              	#{else}
              	<i class="red circle icon"></i>
			  	#{/else}
              <div class="ui avatar image">
                <img src="/profile/getpicture/${user.id}">
              </div>
               <a href="/publicprofile/${user.id}"> ${user.firstName} ${user.lastName}</a>
             </td>
             <td>
             	#{if user.statusText != null}
             		${user.statusText}
             	#{/if}
             	#{else}
             		<i class="red announcement icon"></i> This user has not added a status
             	#{/else}
             </td>
             <td>
             	#{if user.posts.size() > 0}
             		<a href="/blog/${user.id}"><i class="green book icon"></i>(blog)</a>
             	#{/if}
             	#{else}
             		<i class="red book icon"></i>No Blog for this user
             	#{/else}
             </td>
             <td>
             	<a href="members/follow/${user.id}"><i class="add user icon"></i> Follow </a>
             </td>
          </tr>
        #{/list}
      </tbody>
    </table>  
</section>