<nav class="ui inverted menu">
  <img class="ui medium middle aligned image item" src="/public/images/sb_logo_full_inverted.png" alt="Spacebook">
  <div class="right menu">
    <a class="item" href="/home"><i class="home icon"></i>Home</a>
    <a class="item" href="/members"><i class="users icon"></i>Members</a>
    <a class="item" href="/profile"><i class="user icon"></i>Profile</a>
    <a class="item" href="/blog"><i class="book icon"></i>Blog</a>
    <a class="item" href="/accountsettings"><i class="setting icon"></i>Account Settings</a>    
    <a class="item" href="/logout"><i class="remove icon"></i>Logout</a>
  </div>
</nav> 